html {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

h2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

p {
    color: gray;
    font-size: 21px;
}

video {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.download {
    color: aquamarine;
    font-size: 16px;
}

#copy {
    color: gray;
    font-size: 11px;
    text-align: right;
}

#space-up {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}